
 #header{
 	        height: 25%;
 }
#headerDivDetails  {
	background-color: #5B9AA9;
	padding:15px;
}
.newPlugIns{
	padding: 10px;
    background: #5B9AA9;
    border: 1px solid #fff;
    color: #fff;
}
.newPlugIns button{
    background: #5B9AA9;
    border: 0px;
    color: #fff;
}

.dis-table { display: table; }
.width_full { width: 100%; }
.dis-tbcell { display: table-cell; }
.v-middle { vertical-align: middle; }
.main-title {
	font-size: 24px;
	color:#FFFFFF;
}
.bodyContentHeader{
	background-color: #E7E7E7;
	padding:55px;
}
#projectBody{

	float: center;
}
body { background-color: #E7E7E7 !important; }
#projectBody, #ui_framework, #plugin_main {
	background: #E7E7E7;
	padding: 25px;
}
#project_form, #ui_frameForm {
	background: #D6D6D6;
	border: 2px solid #fff;
	padding: 25px;
	margin: auto;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.plugin_option {
	background: #fff;
	padding: 25px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 20px;
}
.m-btm25 { margin-bottom: 25px;  }
.m-top25 { margin-top: 25px; }
.m-btm10 { margin-bottom: 10px; }
.project_name input, .project_type span {

	height: 35px;
	line-height: 35px;
	margin-left: 3px !important;
}
#widget_pname {
	    width: 58%;
}
.project_type span {
	width: 175px;
	text-align: center;
}
#textarea2 {
	width: 100% !important;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.project_name span { line-height: 40px; }

.dojoxWizardButtons {
    position: absolute;
    right: 0;
    left: 0%;
    margin: auto;
}
.dijitButtonNode, .buttonColor {
/*	background: #5B9AA9;
	border: 1px solid #5B9AA9;
	width: 210px;
	padding: 10px 0;
	margin: 5px auto;
	color: #fff;*/
}

.plugin_option table tr:nth-child(even) {
	background: #EFEFEF;
}
.nogaps {
	padding: 0 !important;
	margin: 0;
}
#project-modules .active .border-bottom {
	margin-left: -211px;
    margin-right: 215px;
	border-bottom: 4px solid #5B9AA9;
	position: relative;
	margin: 30px auto 55px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;	
}
#project-modules .active .border-dots {
	width: 20px;
	height: 20px;
	background: #5B9AA9;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	position: absolute;
	top: 42px;
}
#project-modules .border-bottom {
	border-bottom: 4px solid #444;
	position: relative;
	margin: 30px auto 55px;
}
#project-modules .border-dotsright {
	width: 20px;
	height: 20px;
	background: #444;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	position: absolute;
	top: 42px;
	right: 0;
}
#project-modules .active .border-dotscenter, #project-modules .active .border-dotsright { background: #5B9AA9; }
#project-modules .border-dotscenter {
	width: 20px;
	height: 20px;
	background: #444;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	position: absolute;
	top: 42px;
	left: 0;
	right: 0;
	margin: auto;
}
.project_type select {
	/*width: 46%;
	height: 35px;*/
	width: 58%;
    height: 42px;
    border: 1px solid #ccc;
/*	border: 1px solid #ccc;*/
}

.ui_frameinput {
	display: table-cell;
	padding-right: 25px;
	
}
.ui-title {
	float: left;
	display: table;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	
}
body .dijitContentPane {
	width: 100% !important;
	height: 100% !important;
}
#selectVersionId{
	
	    margin-bottom: 30px;
}
   
.downloadProject{
/*	background-color: #5B9AA9;
    text-align: center;
    color: #fff;
    border: #5B9AA9;*/
        background-color: #CFE3F7;
    text-align: center;
    color: #000;
    border: #CFE3F7;
    padding: 4px 36px;
}

 a{
   text-decoration: none !important;
}


/*for testing*/

        #dijit_form_Button_0_label>span>span {display:none;}

        #dijit_form_Button_0_label>span {display:none;}
        
        .dijitButton,  .dijitButton span.dijitButtonNode{
             
             background: #5B9AA9;
        	border: 1px solid #5B9AA9;
        	width: 210px;
        	margin: 8px auto;
           background: -webkit-gradient(linear, left top, left bottom, from(#5B9AA9), to(#5B9AA9));
           background: -webkit-linear-gradient(top, #5B9AA9, #5B9AA9);
           background: -moz-linear-gradient(top, #5B9AA9, #5B9AA9);
           background: -ms-linear-gradient(top, #5B9AA9, #5B9AA9);
           background: -o-linear-gradient(top, #5B9AA9, #5B9AA9);
           -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
           border-radius: 8px;
           -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
           -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
           box-shadow: rgba(0,0,0,1) 0 1px 0;
           text-shadow: rgba(0,0,0,.4) 0 1px 0;
           font-family: Georgia, serif;
           text-decoration: none;
           vertical-align: middle;
        }
        
       .dijitButtonNode span.dijitButtonContents{
            background:#5B9AA9;
            margin:0;
            color:white;
            font-size:14px;
            padding:0px;
        }
       .claro .dijitButton .dijitButtonNode{
           padding:0;
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
              border: 0;
       }
       
       
       
       #dijit_layout_ContentPane_1 {
           overflow-x:hidden;
       }
       
       #dialog1{
       	    position: absolute;
		    opacity: 1;
		    left: 560px;
		    top: 51px;
		    z-index: 950;
		    width: 30%;
       	
       	
       }
     
       .dialogPlugins{
           display: inline;
            font-family: Georgia, serif;
       }
       .dialogPlugInText{
       	 float: right;
       	 display: inline;
       	 font-family: Georgia, serif;
       	
       }
       .claro .dijitDialogTitleBar {
	    border: 1px solid #ffffff;
	    border-top: none;
	    background-color: #5B9AA9;
	   
	    background-repeat: repeat-x;
	    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	    _background-image: none;
	    padding: 5px 7px 4px 7px;
	}
	.dijitUploader {
       	 /*  background: #5B9AA9;
        	border: 1px solid #5B9AA9;
        	width: 210px;
        	margin: 5px auto;
        	
        	
        	    background: grey;*/
			    border: 1px solid #808080;
			    width: 210px;
			    margin: 5px auto;
			    background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#808080));
			    background: -webkit-linear-gradient(top, grey,grey);
    
         /*  background: -webkit-gradient(linear, left top, left bottom, from(#5B9AA9), to(#5B9AA9));
           background: -webkit-linear-gradient(top, #5B9AA9, #5B9AA9);*/
           background: -moz-linear-gradient(top, #808080, #808080);
           background: -ms-linear-gradient(top, #808080, #808080);
           background: -o-linear-gradient(top, #808080, #808080);
           -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
           border-radius: 8px;
           -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
           -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
           box-shadow: rgba(0,0,0,1) 0 1px 0;
           text-shadow: rgba(0,0,0,.4) 0 1px 0;
           font-family: Georgia, serif;
           text-decoration: none;
           vertical-align: middle;
       }
       
      .dijitUploader span.dijitButtonContents {
    background: #808080;
    margin: 0;
    color: white;
    font-size: 14px;
    padding: 0px;
	}
	.projectDetails{
		padding:10px;
		
	}
	.claro .dijitSelectFocused,
.claro .dijitSelectFocused .dijitButtonContents,
.claro .dijitTextBoxFocused,
.claro .dijitTextBoxFocused .dijitButtonNode {
  border-color: red;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
  .platform{
      display: table-cell;
    padding-right: 45px;
    padding-left: 30px;
  
  }
  