<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js">
</script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js">
</script>
<script type="text/javascript" src="/javascripts/angular.min.js">
</script>
<script type="text/javascript" src="/javascripts/app.js">
</script>
<nav class="navbar navbar-default" style="background-color: #5B9AA9">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#">BMF</a>-->
            <strong style="font-size: 24px;">BMF</strong><br/>
            <p>BRISTOL-MAYERS MOBILE FRAMEWORK</p>
        </div>

        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<form class="navbar-form navbar-left" role="search">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#">Link</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</nav>
<div class="col-lg-12" ng-app="bmfApp" ng-controller="HomeController">
    <div class="">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Project</a></li>
            <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">UI Framework</a></li>
            <li class=""><a href="#download" data-toggle="tab" aria-expanded="false">Plugins</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <form class="form-horizontal" style="background-color: #828289; padding:50px;">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Project Name" ng-model="info.project.name">
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <select class="form-control" id="select" ng-model="info.project.type">
                                    <option>Select Project</option>
                                    <option>Version 1</option>
                                    <option>Version 2</option>
                                    <option>Version 3</option>
                                    <option>Version 4</option>
                                </select>
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <select class="form-control" id="select2" ng-model="info.project.platform">
                                    <option>Select Project</option>
                                    <option>windows</option>
                                    <option>Android</option>
                                    <option>IOS</option>
                                    <option>Web</option>
                                </select>
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-4">
                                <a href="#profile" class="btn btn-default">Next</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tab-pane fade" id="profile">
                <form class="form-horizontal" style="background-color: #828289; padding:50px;">
                    <fieldset>
                        <div class="form-group">

                            <div class="col-lg-12">
                                <div class="col-lg-12">
                                    <div class="radio col-lg-4">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-model="info.framework.name" checked="">
                                            Option one is this
                                        </label>
                                    </div>
                                    <div class="radio col-lg-4">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="info.framework.name" value="option2">
                                            Option two can be something else
                                        </label>
                                    </div>
                                    <div class="radio col-lg-4">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1"  ng-model="info.framework.name" value="option1" checked="">
                                            Option one is this
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="radio col-lg-4">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="info.framework.name" value="option2">
                                            Option two can be something else
                                        </label>
                                    </div>
                                    <div class="radio col-lg-4">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="info.framework.name" value="option1" checked="">
                                            Option one is this
                                        </label>
                                    </div>
                                    <div class="radio col-lg-4">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="info.framework.name" value="option2">
                                            Option two can be something else
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    <hr/>
                    <fieldset>
                        <div class="form-group">

                            <div class="col-lg-12">
                                <div class="col-lg-12">
                                    <div class="radio col-lg-6">
                                        <label>
                                            <input type="radio" name="optionsRadios2" id="optionsRadios" value="option1" ng-model="info.framework.version" checked="">
                                            Option one is this
                                        </label>
                                    </div>
                                    <div class="radio col-lg-6">
                                        <label>
                                            <input type="radio" name="optionsRadios2" id="optionsRadios2" ng-model="info.framework.version" value="option2">
                                            Option two can be something else
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-4">
                                <a href="#download" class="btn btn-default">Next</a>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
            <div class="tab-pane fade" id="download">
                <form class="form-horizontal" style="background-color: #828289; padding:50px;">
                    <fieldset>
                        <div>
                            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Plugin Name</th>
                                    <th>Version</th>
                                    <th>Select</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="pluginName in plugins">
                                    <tr>
                                        <th>{{pluginName}}</th>
                                        <th>{{$index}}</th>
                                        <th><input type="checkbox" ng-checked="selection.indexOf(pluginName) > -1"
                                                   ng-click="toggleSelection(pluginName)"/></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <textarea rows="4" cols="50">{{info}}</textarea>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-4">
                                    <button type="submit" class="btn btn-primary" ng-click="createProject();">Create Project</button>
                                </div>
                            </div>
                            <div class="form-group" ng-show="project.created">
                                <div class="col-lg-10 col-lg-offset-4">
                                    <a class="btn btn-success" href="{{project.dUrl}}">Download Project</a>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>